:root{
    --text-color:#eee;
    --bg-color-d:#111;
    --bg-color-l:#333;
    --div-color-d:#bdc3c7;
    --div-color-l:#ecf0f1;
}
.backgroundShow{
    --bg-color-d:#c1c1c1;
    --bg-color-l:#ebf0f1;
    --text-color:#333;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    background: linear-gradient(360deg,var(--bg-color-d),var(--bg-color-l));
    display: flex;
    flex-direction:column ;
    align-items: center;
    gap: 1rem;
}
button{
    position: fixed;
    right: 1rem;
    padding:1rem ;
    margin-top:1rem ;
    text-transform: capitalize;
    font-family: 'open sans';
    font-weight:400;
    transition: color , background-color .3s;
}
button:hover{
    color: var(--text-color-l);
    background-color: var(--bg-color-l);
    border:1px solid var(--text-color) ;
}
div{
    width: 75%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    margin: 1.4rem auto;
    border-radius: 1rem;
    background: radial-gradient(ellipse farthest-corner at center,var(--div-color-d),var(--div-color-l));
}
img{
    margin-top:0;
    width: 100%;
    border-radius: 1rem 1rem  0 0;
    height: 500px;
}
h1{
    font-family: Rubik , sans-serif;
    font-weight:400 ;
    text-transform:uppercase;
    border-bottom: 2px solid orange;
}
p{
    font-family: 'open sans', sans-serif;
    font-weight: 300;
}